<div class="row mt-3">
  <div class="col">
      <div class="card mb-3">
          <div class="card-body">
              <div class="gridcontainer">
                  <div class="d-flex flex-row justify-content-between align-items-center gridtopic">
                      <h4>Project Lists <a href="#" style="font-size: .7rem;margin-left: 10px;"><i class="fas fa-times"></i>&nbsp;Clear Filter</a></h4>
                      <div class="gridactions" style="width: 500px;"><select class="form-control" style="width: 100px;">
                              <option value="Global" selected="">Global</option>
                              <option value="Asia">Asia</option>
                              <option value="Americas">Americas</option>
                              <option value="Europe">Europe</option>
                          </select>
                          <div class="input-group" style="width: 220px;">
                              <div class="input-group-prepend"></div><input class="form-control" type="text" placeholder="Search..">
                              <div class="input-group-append"><button class="btn btn-light buttongrey" type="button" style="width: 40px;"><i class="fas fa-search"></i></button></div>
                          </div><button class="btn btn-light buttongrey" type="button" data-toggle="modal" data-target="#filtermodal"><i class="fas fa-filter bluetxt"></i>&nbsp;Filter</button>
                          <div class="dropdown"><button class="btn btn-primary dropdown-toggle buttongreen" data-toggle="dropdown" aria-expanded="false" type="button">Create&nbsp;</button>
                              <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="createproject.html" data-toggle="popover" title="Create project 1" data-placement="left" data-content="Description" data-trigger="hover">Create Project 1&nbsp;</a><a class="dropdown-item" href="createproject2.html" data-toggle="popover" title="Create project 2" data-placement="left" data-content="Description" data-trigger="hover">Create Project 2</a><a class="dropdown-item" href="createproject3.html" data-toggle="popover" title="Create project 3" data-placement="left" data-content="Description" data-trigger="hover">Create Project 3</a><a class="dropdown-item" href="createproject4.html" data-toggle="popover" title="Create project 4" data-placement="left" data-content="Description" data-trigger="hover">Create Project 4</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="dashboardtab">
                      <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"><i class="fas fa-hourglass-half"></i>&nbsp;Open&nbsp;<span class="badge badge-primary brown">42</span></a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1"><i class="fas fa-globe"></i>&nbsp;Deployed&nbsp;<span class="badge badge-primary green">42</span></a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1"><i class="fas fa-check-circle"></i>&nbsp;Closed&nbsp;<span class="badge badge-primary purple">42</span></a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1"><i class="fa fa-times-rectangle"></i>&nbsp;Dropped&nbsp;<span class="badge badge-primary red">42</span></a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1"><i class="fas fa-user-check"></i>&nbsp;My Approvals&nbsp;<span class="badge badge-primary blue">42</span></a></li>
                      </ul>
                      <div class="tab-content">
                          <div class="tab-pane active" role="tabpanel" id="tab-1">
                              <div class="gridbody">
                                  <div class="gridcontent">
                                      <div class="gridheader">
                                          <div class="row">
                                              <div class="col"><span><strong>ProjectId</strong></span></div>
                                              <div class="col"><span><strong>DRI</strong></span></div>
                                              <div class="col"><span><strong>ProjectName</strong></span></div>
                                              <div class="col"><span><strong>Description</strong></span></div>
                                              <div class="col"><span><strong>Progress</strong></span></div>
                                              <div class="col"><span><strong>Region</strong></span></div>
                                              <div class="col"><span><strong>Sub-category</strong></span></div>
                                              <div class="col"><span><strong>Open Date</strong></span></div>
                                              <div class="col"><span><strong>Awarded To</strong><br></span></div>
                                              <div class="col"><span><strong>Awarded Amount</strong><br></span></div>
                                              <div class="col"><span><strong>Action</strong><br></span></div>
                                          </div>
                                      </div>

                                      <div class="gridrow" [ngClass]="{'even':i%2==0}"  *ngFor="let prj of projectList;let i=index">
                                          <div class="row">
                                              <div class="col"><span>{{prj.projectId}}</span></div>
                                              <div class="col"><span>{{prj.projectName}}</span></div>
                                              <div class="col"><span>{{prj.description}}</span></div>
                                              <!-- <div class="col">
                                                  <div class="progress">
                                                      <div class="progress-bar progress-bar-striped progress-bar-animated brown" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                                  </div>
                                              </div> -->
                                              <div class="col"><span>{{prj.progress}}</span></div>
                                              <div class="col"><span>{{prj.region}}</span></div>
                                              <div class="col"><span>{{prj.subCategory}}</span></div>
                                              <div class="col"><span>{{prj.openDate}} </span></div>
                                              <div class="col"><span>{{prj.projectAwardedTo}} </span></div>
                                              <div class="col"><span>${{prj.AwardedAmount}} </span></div>

                                              <div class="col">
                                                  <div class="dropdown"><a class="btn dropdown-toggle bluetxt btn-sm" data-toggle="dropdown" aria-expanded="false" role="button">Actions</a>
                                                      <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="viewproject.html">View</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Delete</a></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                                  <app-pagination></app-pagination>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
