/*html {
    overflow:hidden;
}*/
body {
	margin: 0px;
	/*background: #C0C0C0 url(../../Images/background_main.jpg) repeat-x left top;*/
	font: 8pt Verdana,Arial,Helvetica,sans-serif;
}

.Welcome
{
	background: #00FF00 url(../../Images/picMainBack.jpg) repeat-x;
	height:400px;
	width:500px;
}

#login a:link, #login a:visited {
	color: #FFFFFF;
}

hr
{
	color:#002A5C;
	height:1px;
}

h1 
{
	font-size:18px;
	font-weight:bold;
}

.sele {border:1px solid black; margin:5px;}

#title h1 a:link, #title h1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#reportresults h2 {
	font-size: 1.1em;
	font-weight: bold;
}

a:link {
	color: #396EAA;
}

a:visited {
	color: #396EAA;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}



table.FormView
{
    /*width:986px;*/
    width: 979px;
    border:solid 1px #D2D2D2;
}

table.FormView td.NormalField
{
    height:20px; 
    border-top:1px solid #D2D2D2;
    border-left:1px solid #D2D2D2;
	text-align:left;
}



table.FormView td.CalendarField
{
   	border-top:1px solid #D2D2D2;
    border-left:1px solid #D2D2D2;	
}

.CalendarField
{
	height:10px; 
	text-align:center;	
}

.NormalField
{
	height:20px; 
	text-align:left;	
}



table.FormView th
{
    height:20px;
    font-weight:bold;
    width:100px;
    text-align:left;
}

Table.FormView td.Footer
{
	text-align: center;
	background-color: #DBD8D8;
}
Table.FormView_Div td.Header
{
    height:20px;
    padding: 0px 0px 0px 5px;
    text-align:left;
    font-weight:bold;
    background-color: #DBD8D8;
    width:100px;
}
Table.FormView td.Header
{
    height:20px;
    padding: 0px 0px 0px 5px;
    text-align:left;
    font-weight:bold;
    background-color: #DBD8D8;
}

Table.FormView td.Desc
{
    height:20px;
    width:160px;
    padding: 0px 0px 0px 5px;
	border-top:1px solid #D2D2D2;
	border-left:1px solid #D2D2D2;	
    text-align:left;
    font-weight:bold;
    background-color: #E6E6E6;
}
Table.FormView td.DescLeft
{
    height:20px;
    width:130px;
    padding: 0px 0px 0px 5px;
	border-top:1px solid #D2D2D2;
	text-align:left;
    font-weight:bold;
    background-color: #E6E6E6;
}

Table.FormView td.EngReportLink
{
    height:20px;
    padding: 0px 0px 0px 5px;
	border-top:1px solid #D2D2D2;
	text-align:left;
    font-weight:bold;
    background-color: #E6E6E6;
}

Table.FormView td.Cell
{
    height:20px;
    width:100px;
    text-align:left;
    background-color: #E6E6E6;
}
Table.FormView td.Unique
{
    height:20px;
    width:auto;
    text-align:left;
    background-color: #ffffff;
}

.StartCell
{
	height:20px;
	width: 50%;
    text-align:center;
    background-color: #E6E6E6;
}

/*begin creating the tabs */
.menu {
	margin-left: 28px;
	background: url(../../Images/tab_bg.gif) repeat-x;
	font-size: 10px;
	font-weight: bold;
}

/* set tab1 as top level container table, then target TDs inside*/
.menuItem td {
	color: #FFFFFF;
	height: 24px;
	background: url(../../Images/tab_dim.gif) no-repeat;
	width: 100px;
	text-align: center;
}

/* make current tab gray,set the background-color also in case images are not on*/
.menuSelectedItem td {
	/*background: url(../../Images/tab.gif) no-repeat #919296;*/
	background: url(../../Images/tab.gif) no-repeat #919296;
}

/* make link and visited the same look,set the background-color also in case images are not on*/
.menuItem a:link, .menuItem a:visited, .menuPopupItem a:link, .menuPopupItem a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/* make hover by changing vertical position of background to -22px (the tab_dim2.gif is 44px high) */
.menuItem a:hover {
	text-decoration: underline;
}

/* make drop down menu container style */
.menuPopup {
	background: url('../../Images/background_drop_menu.jpg') repeat #8C9FB4;
	border: 1px solid #666666;
	border-bottom: none;
	color: #ffffff;
}

/* make drop down menu item style */
.menuPopupItem {
	color: #ffffff;
	border-bottom: 1px solid #666666;
	padding: 3px;
}

/* define the main layout divs */
#header {
	margin-right: auto;
	height: 50px;
	width: 100%;
}

#navtop {
    height:20px;
    background-color:#FFFFFF;
}

#title {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
	height: 20px;
	top: 0px;
	left: 0px;
}

#login {
	padding-top: 25px;
	padding-right: 28px;
	float: right;
	clear: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	height: 28px;
	top: 0px;
	text-align: right;
}

/* make crumbs after making new nav */
#breadcrumb {
	padding: 8px 4px 8px 4px;
	background: #919296;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	/*height: 26px;*/
}

#body {
	/*padding: 10px 8px 10px 7px;*/
	padding: 7px;
	background-color: #C0C0C0;
	background: #C0C0C0 url(../../Images/background_body.gif) repeat-x left top;
}

#addhours {
	padding: 10px;
	border: 1px solid #000000;
	float: left;
	background: #DAE1E7 url(../../Images/background_addhours.jpg) repeat-x left top;
	color: #666666;
	font-family: Tahoma,Verdana,Helvetica,Helvetica-Narrow,sans-serif;
	width: 195px;
	position: relative;
}

#container {
	padding: 0px;
	border: 1px solid #002A5C;
	background-color: #F1F1F1;
	color: #666666;
	font-family: Tahoma,Verdana,Helvetica,Helvetica-Narrow,sans-serif;
	/*height:430px;
	width:980px;*/

}

#container_popup {
	padding: 0px;
	border: 1px solid #002A5C;
	background-color: #F1F1F1;
	color: #666666;
	font-family: Tahoma,Verdana,Helvetica,Helvetica-Narrow,sans-serif;
	height:98%;
	width:98%;
	text-align:center;
	vertical-align:middle;

}

#timesheet {
	padding: 10px;
	border: 1px solid #000000;
	margin-left: 218px;
	background: #FFFFFF;
	color: #666666;
	font-family: Tahoma,Verdana,Helvetica,Helvetica-Narrow,sans-serif;
}

#timesheetdata, #projecttable {
	width: 100%;
	text-align: center;
}

#catlist {
	width: 20%;
}

/* define other elements inside the main layout divs */
#title h1 {
	display: inline;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

/* can be removed if no images in breadcrumb area */
#breadcrumb img {
	border: none;
	padding-right: 3px;
	vertical-align: middle;
}

/* all the legend tags use this same style */
legend {
	padding: 0px 4px;
	margin: 0px 0px 7px 0px;
	color: #666666;
	font-weight: bold;
	font-size: 1em;
	vertical-align: middle;
}

/* define sizes of the username field */
.username {
	font-size: 0.9em;
	width: 150px;
}

/* all the fieldset tags use this same style */
fieldset {
	margin-bottom: 0px;
	padding: 0px 12px 12px 12px;
	display: block;
}

/* create hover effect for calendar icons */
#addhours a:link img, #addhours a:visited img, #resourcereport a:link img, #resourcereport a:visited img {
	padding: 2px;
	border: 1px solid #DFE4EA;
	background: #DFE4EA;
}

/* Put the admin edit calendar icon on a white background */
#container a:link img, #container a:visited img {
	padding: 1px;
	border: 0px solid #FFFFFF;
	background: #FFFFFF;
}

#addhours a:hover img, #resourcereport a:hover img, #container a:hover img {
	padding: 2px;
	border: 1px solid #C1CFE0;
	background: #E8ECF0;
}

#addhours a:active img, #resourcereport a:active img, #container a:active img {
	padding: 2px;
	border: 1px solid #C1CFE0;
	background: #C9D4E2;
}

/* add fade background and padding to all table rows */
.row1 {
	padding: 3px;
	background: url(../../Images/timesheet_data_bg.gif) repeat-x;
	background: #F9FAFB;
}

.row1 img {
	border: none;
	text-align: center;
}

/* add hover effect to any a href images within the data tables */
#timesheetdata a:link img, #timesheetdata a:visited img, #projecttable a:link img, #projecttable a:visited img {
	padding: 2px;
	border: 1px solid #EDF0F3;
	background: #EDF0F3;
}

#timesheetdata a:hover img, #projecttable a:hover img {
	padding: 2px;
	border: 1px solid #C1CFE0;
	background: #FBFBFC;
}

#timesheetdata a:active img, #projecttable a:active img {
	padding: 2px;
	border: 1px solid #C1CFE0;
	background: #D9E2EC;
}

/* zero margin on all forms */
form {
	margin: 0px;
}

/* define the pop up calendar style */
#calbg {
	background: #ABBDD3 url(../../Images/background_calendar.gif) repeat-x;
	height: 1000px;
}

#calcontent {
	margin: 5px;
	padding: 5px 4px 9px 4px;
	border: 1px solid #000000;
	background: #FFFFFF;
	font-size: 10px;
	text-align: center;
}

#month {
	margin-bottom: 6px;
	font-size: 9px;
	width: 80px;
}

#year {
	margin-bottom: 6px;
	font-size: 9px;
	width: 50px;
}

#calcontent table td a:link, #calcontent table td a:visited {
	padding: 0px 2px 3px;
	display: block;
}

#calcontent table td a:hover, #calcontent table td a:active {
	display: block;
	background: #FFCC00;
}

#calcontent table td a:active {
	display: block;
	color: #FFFFFF;
	background: #009900;
}

/* make the cal icon appear in line with the forms and text */
#addhours img, #resourcereport img, #container img {
	border: 0px;
	vertical-align: text-bottom;
}

/* make hours input field more prominent */
#addhours .hours {
	padding-top: 1px;
	font-size: 1.5em;
	font-weight: bold;
	width: 35px;
	height: 20px;
	text-align: center;
}

.projectlist, .resourcelist {
	border: 1px solid #00FF00;
	margin-bottom: 4px;
	width: 200px;
}

/* condense in mark up to be '.button' */
.submit, .reset, .delete, .create, .add, .copy {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 0.9em;
	height: 28px;
}

/* make submit button larger */
.submit {
	width: 108px;
}
/* define the look of the data tables (using colgroup in the source) 
colcatlist1 and colcatlist1 are generic names since I'm not sure 
what kind of date goes into these cells. More appropriate names can
be added for these */
.coldescription, .colcatlist1, .colcatlist2 {
	text-align: left;
}

.colday, .colhours, .coledit, .coldelete {
	width: 5%;
}

.colproject, .colcategory {
	width: 15%;
}

.colhours {
	font-weight: bold;
}

.coldescription {
	width: 50%;
}

/* define pop up calendar look */
.calmonday, .caltuesday, .calwednesday, .calthursday, .calfriday, .calsaturday, .calsunday {
	text-align: center;
}

.calcurrentmonth {
	background: #EEEEEE;
}

.calcurrentday {
	border: 1px solid #000000;
}

.calothermonth a:link, .calothermonth a:visited {
	color: #999999;
}

.calweekend {
	background: #E2E2E2;
}

/* create section heading container to separate long forms */
.formsection {
	padding: 10px;
	margin-top: 15px;
	background: #D6DDE9 url(../../Images/background_formsection.gif) repeat-x center;
	font-weight: bold;
	text-align: center;
}

/* sometimes we hide elements from display in visual browsers (but leave them in the source for non visual browsers and for accessibility). I've also hidden the table in the admin_create_projects.html page */
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}

img {
	border: none;
}

.spacing_title
{
	/*margin-top:20px;*/
}

.warning
{
	color: #B51E17;text-align:right;
}
.title
{
    padding:4px;
}

/*link fit*/

.linkfit
{
	text-align:right;
	padding-top:3px;
	font-size:7pt;
	font-weight:bold;
	text-decoration:none;
}
.linkfit a:link
{
	color:#8B8C8C;	
	text-decoration:none;
}

.linkfit a:visited
{
	color:#7589A2;	
	text-decoration:none;
}

.linkfit a:hover
{
	color:#8FA7C3;
	text-decoration:none;
}


.calendarCell
{
    height:10px; 
	text-align:center;
	
}



/* sTYLE PARA DIV QUE COM DETALHES DO PROJETO*/
table.FormView_Div
{
    width:680px;
    border:solid 3px #999999;
    text-align:left;
}
table.FormView_Div td
{
    height:20px; 
    border-top:1px solid #999999;    
    border-left:1px solid #999999;
	text-align:left;
}
table.FormView_Div td.NormalField
{
    height:20px; 
    border-top:1px solid #999999;
    border-left:1px solid #999999;
	text-align:left;
}
table.FormView_Div th
{
    height:20px;
    font-weight:bold;
    width:100px;
    text-align:left;
}
Table.FormView_Div td.Footer
{
	text-align: center;
	height:40px;
	background-color: #DBD8D8;
}
Table.FormView_Div td.Desc
{
    height:20px;
    width:150px;
    padding: 0px 0px 0px 5px;
	border-top:1px solid #D2D2D2;
	border-left:1px solid #D2D2D2;	
    text-align:left;
    font-weight:bold;
    background-color: #D2D2D2;
}
Table.FormView_Div td.Cell
{
    height:20px;
    width:100px;
    text-align:left;
    background-color: #E6E6E6;
}

Table.FormView_Div td.DescLeft
{
    height:20px;
    width:130px;
    padding: 0px 0px 0px 5px;
	border-top:0px solid #D2D2D2;
	text-align:left;
    font-weight:bold;
    background-color: #D2D2D2;
}


.closeDicPopup a:link
{
	color:Red;	
	font-family:Arial Black;
	text-decoration:none;
	cursor:crosshair;
}
.closeDicPopup a:Active
{
	color:Red;	
	font-family:Arial Black;
	text-decoration:none;
	cursor:crosshair;
}
.closeDicPopup a:visited
{
	color:Red;	
	font-family:Arial Black;
	text-decoration:none;
	cursor:default;
}

.closeDicPopup a:hover
{
	color:Red;	
	font-family:Arial Black;
	text-decoration:none;
}

a.tooltipDescription{
    position:relative; 
    cursor:help; 
}
a.tooltipDescription:hover{
    
}
a.tooltipDescription span{
    display:none;
}
a.tooltipDescription:hover span{ 
    display:block;
    position:absolute;
    width:390px; 
    top:2em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}

a.tooltipRemarks{
    position:relative; 
    cursor:help; 
}
a.tooltipRemarks:hover{
    background:;
}
a.tooltipRemarks span{
    display:none;
}
a.tooltipRemarks:hover span{ 
    display:block;
    position:absolute;
    width:390px; 
    top:-15em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}   

a.tooltipExampleOfCostSaving{
    position:relative; 
    cursor:help; 
}
a.tooltipExampleOfCostSaving:hover{
    background:;
}
a.tooltipExampleOfCostSaving span{
    display:none;
}
a.tooltipExampleOfCostSaving:hover span{ 
    display:block;
    position:absolute;
    width:570px; 
    top:-15em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}



a.tooltipEngReportNo{
    position:relative; 
    cursor:help; 
}
a.tooltipEngReportNo:hover{
    background:;
}
a.tooltipEngReportNo span{
    display:none;
}
a.tooltipEngReportNo:hover span{ 
    display:block;
    position:absolute;
    width:300px; 
    top:2em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}

a.tooltipEngReportLink{
    position:relative; 
    cursor:help; 
}
a.tooltipEngReportLink:hover{
    /*background:;*/
}
a.tooltipEngReportLink span{
    display:none;
}
a.tooltipEngReportLink:hover span{ 
    display:block;
    position:absolute;
    width:550px; 
    top:2em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}

a.tooltipAutoLevel{
    position:relative; 
    cursor:help; 
}
a.tooltipAutoLevel:hover{
   
}
a.tooltipAutoLevel span{
    display:none;
}
a.tooltipAutoLevel:hover span{ 
    display:block;
    position:absolute;
    width:690px; 
    top:2em;
    text-align:justify;
    left:2em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}

a.tooltipROILink{
    position:relative; 
    cursor:help; 
}
a.tooltipROILink:hover{
   
}
a.tooltipROILink span{
    display:none;
}
a.tooltipROILink:hover span{ 
    display:block;
    position:absolute;
    width:725px; 
    top:1em;
    text-align:justify;
    left:4em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}

a.tooltipVideoLink{
    position:relative; 
    cursor:help; 
}
a.tooltipVideoLink:hover{
   
}
a.tooltipVideoLink span{
    display:none;
}
a.tooltipVideoLink:hover span{ 
    display:block;
    position:absolute;
    width:750px; 
    top:2em;
    text-align:justify;
    left:4em;
    font: 12px arial, verdana, helvetica, sans-serif; 
    padding:5px 10px;
    border:1px solid #999;
    color:#BC1C15;
    background:#BBBBBB;
}
.CustomValidator {position:relative;margin-left:-80px;}

.CustomValidator div {border:solid 1px Black;background-color:lemonchiffon; position:relative;}

.CustomValidator td {border:solid 1px Black;background-color:LemonChiffon;}

.CustomValidator .ajax__validatorcallout_popup_table {display:none;border:none;background-color:ActiveBorder;padding:20px;}

.CustomValidator .ajax__validatorcallout_popup_table_row {vertical-align:auto;height:100%;background-color:transparent;padding:10px;}

.CustomValidator .ajax__validatorcallout_callout_cell {width:20px;height:100%;text-align:right;vertical-align:auto;border:none;background-color:transparent;padding:0px;}

.CustomValidator .ajax__validatorcallout_callout_table {height:100%;border:none;background-color:transparent;padding:0px;}

.CustomValidator .ajax__validatorcallout_callout_table_row {background-color:transparent;padding:0px;}

.CustomValidator .ajax__validatorcallout_callout_arrow_cell {padding:-8px 0px 0px 0px;text-align:right;vertical-align:bottom;font-size:1px;border:none;background-color:transparent;}

.CustomValidator .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv {font-size:1px;position:relative;left:1px;border-bottom:none;border-right:none;border-left:none;width:15px;background-color:transparent;padding:0px;}

.CustomValidator .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div {height:1px;overflow:hidden;border-top:none;border-bottom:none;border-right:none;padding:0px;margin-left:auto;}

.CustomValidator .ajax__validatorcallout_error_message_cell {font-family:Verdana;font-size:10px;padding:5px;border-right:none;border-left:none;width:100%;}

.CustomValidator .ajax__validatorcallout_icon_cell {width:20px;padding:5px;border-right:none;}

.CustomValidator .ajax__validatorcallout_close_button_cell {vertical-align:top;padding:0px;text-align:right;border-left:none;}

.CustomValidator .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv {border:none;text-align:center;width:10px;padding:2px;cursor:pointer;}

.info {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 30px;
background-repeat: no-repeat;
background-position: 10px center;
color: #4F8A10;
background-color: #DFF2BF;
background-image: url(../../Images/down.gif);
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}

.inlineBlock { display: inline-block; }

 .watermarked
        {
            /*height: 20px;
            width: 150px;
            padding: 2px 0 0 2px;
            border: 1px solid #BEBEBE;
            background-color: #FFFFFF;*/
            color: gray;
        }



      