<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="d_PTConnectionString" connectionString="Data Source=GSSM2262\SQLEXPRESS;Initial Catalog=engr_new;User ID=sa;Password=pass@123;pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <!-- Level 1 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file  value="D:\\AEGFlex\\SourceCode\\ProjectTrackerEmailService\\Logs/mylogfile.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="3"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger %method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="host" value="smtp2.sac.flextronics.com"/>
    <add key="port" value="25"/>
    <add key="enableSsl" value="true"/>
    <add key="useDefaultCredentials" value="true"/>
    <add key="userName" value="ProjectTrackerAdmin@flextronics.com"/>
    <add key="password" value=""/>
    <add key="fromEmail" value="kumar.sundaram@flextronics.com"/>
    <add key="fromName" value="Kumar Sundaram"/>
    <add key="Subject" value="Remainder: Automation Project overdue for ProjectID-&gt;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DTLFORMURL" value="http://intapps.flextronics.com/Engr/ProjectTracker/Pages/ProjectCad.aspx?projectID="/>
    <add key="LDAP_PATH" value="GC://amsac001.americas.ad.flextronics.com/dc=ad,dc=flextronics,dc=com" />
    <add key="LDAP_DOMAINUSER" value="saoskillma" />
    <add key="LDAP_PASS" value="SDK159!@" />
    <add key="FlexADURL" value="http://webservices.flextronics.com/FlexAD/V1/FlexAD.aspx?" />
    <add key="AutomationHeadEmail" value="Gervasio.Mutarelli@flextronics.com;Ofer.Ricklis@flextronics.com;murad.kurwa@flextronics.com" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
