<div class="header">
  <nav class="navbar navbar-dark navbar-expand-md">
      <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#"><img src="assets/img/Flex_WHT_Sml_tm.png">&nbsp;Automation Project Tracker&nbsp;</a>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link active" href="index.html"><i class="fas fa-home menuicon"></i>
                          <p>Home</p>
                      </a></li>
                  <li class="nav-item"><a class="nav-link" href="report.html"><i class="fas fa-chart-pie menuicon"></i>
                          <p>Reports</p>
                      </a></li>
                  <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                          <div><i class="fas fa-bell menuicon"></i></div><span>Notification<br><span class="badge badge-primary">5</span></span>
                      </a>
                      <div class="dropdown-menu notificationdropdown"><a class="dropdown-item">
                              <div class="notifyicon">
                                  <div class="notifyicondiv"><i class="fas fa-clipboard-check"></i></div>
                              </div>
                              <div class="notifycontent">
                                  <h5>Notification Title</h5>
                                  <p>Notification Details</p>
                              </div>
                          </a><a class="dropdown-item">
                              <div class="notifyicon">
                                  <div class="notifyicondiv"><i class="fas fa-clipboard-check"></i></div>
                              </div>
                              <div class="notifycontent">
                                  <h5>Notification Title</h5>
                                  <p>Notification Details</p>
                              </div>
                          </a><a class="dropdown-item">
                              <div class="notifyicon">
                                  <div class="notifyicondiv"><i class="fas fa-clipboard-check"></i></div>
                              </div>
                              <div class="notifycontent">
                                  <h5>Notification Title</h5>
                                  <p>Notification Details</p>
                              </div>
                          </a><a class="dropdown-item">
                              <div class="notifyicon">
                                  <div class="notifyicondiv"><i class="fas fa-clipboard-check"></i></div>
                              </div>
                              <div class="notifycontent">
                                  <h5>Notification Title</h5>
                                  <p>Notification Details</p>
                              </div>
                          </a></div>
                  </li>
                  <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                          <div><i class="fas fa-user-cog menuicon"></i></div><span>Admin<br></span>
                      </a>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Region</a><a class="dropdown-item" href="#">Category</a><a class="dropdown-item" href="#">Customer</a><a class="dropdown-item" href="#">Location</a><a class="dropdown-item" href="#">Savings Category</a><a class="dropdown-item" href="#">Email Exceptions</a><a class="dropdown-item" href="#">Segment</a><a class="dropdown-item" href="users.html">User</a><a class="dropdown-item" href="#">Group</a></div>
                  </li>
              </ul>
          </div><div class="dropdown">
<div class="menucontainer dropdown-toggle" data-toggle="dropdown">
<p>Magesh Babu S <br><span>Administrator</span></p>

<i class="fas fa-user-circle usericon"></i>
<div class="dropdown-menu dropdown-menu-right">
<button class="dropdown-item" type="button">Logout</button>
</div>
</div>
</div>
      </div>
  </nav>
</div>
