<div class="gridfooter"><select [(ngModel)]="itemsPerPage" class="float-left form-control" style="width: 100px;" >
  <option [value]="num"  *ngFor="let num of rowSize">{{num}}</option>
aaaaaaaaa
</select>
<nav class="float-right">
  <ul class="pagination">
      <li class="page-item" (click)="openSelectedPage(currentPage-1)"><a class="page-link"  href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
      <li class="page-item"
      [ngClass]="{disabled:currentPage == count}"
      [value]="count" *ngFor='let count of counter();let i=index'>
      <a [ngClass]="{ 'font-weight-bold':currentPage == count }"
      (click)="openSelectedPage(count)"
      class="page-link tbl-page-link">{{count}}</a></li>

      <li class="page-item" (click)="openSelectedPage(currentPage+1)"
      ><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
  </ul>
</nav>
<div class="clearfix"></div>
</div>
<!--
<div class="box-footer d-flex flex-row justify-content-between align-items-center">
  <div class="box-footer-left d-flex flex-row justify-content-between align-items-center">

    <div class="form-group footer-form-group" >
        <div  class="dropdown btn-group" >
            <button type="button"  class="btn btn-orange btn-md dropdown-toggle "  data-toggle="dropdown" >
              {{itemsPerPage}}
            </button>
            <ul (click)="setPageCount($event)" class="dropdown-menu dropdown-menu-right dropdown-option "  >
              <li    [value]="num" *ngFor="let num of rowSize" class="dropdown-item">{{num}}</li>
            </ul>
            </div>

    </div>
    <div class="data-tbl ml-3">{{pageInfo}}</div>
  </div>
  <div class="box-footer-right">

    <ul class="pagination pagination-sm footer-pagination">
        <button type="button" class="btn btn-orange" (click)="openSelectedPage(currentPage-1)" [disabled]="currentPage==1">
            <span class="icon-gdpns_prev"></span>

          </button>
      <li class="page-item" [ngClass]="{disabled:currentPage == count}" [value]="count" *ngFor='let count of counter();let i=index'><a [ngClass]="{ 'font-weight-bold':currentPage == count }" (click)="openSelectedPage(count)" class="page-link tbl-page-link">{{count}}</a></li>

      <button type="button" class="btn btn-orange" (click)="openSelectedPage(currentPage+1)" [disabled]="currentPage==totalPages">
          <span class="icon-gdpns_next"></span>
        </button>
    </ul>
  </div>

</div> -->
