@font-face {
	font-family: 'fwsico';
	src: url(../../assets/fonts/fa-solid-900.ttf) format('truetype'),
	url(../../assets/fonts/fa-solid-900.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}