@font-face {
	font-family: 'itcmd';
	src: url(../../assets/fonts/ITCAvantGardeStd-Md.eot) format('embedded-opentype'),
	url(../../assets/fonts/ITCAvantGardeStd-Md.eot) format('embedded-opentype'),
	url(../../assets/fonts/ITCAvantGardeStd-Md.ttf) format('truetype'),
	url(../../assets/fonts/ITCAvantGardeStd-Md.woff) format('woff'),
	url(../../assets/fonts/ITCAvantGardeStd-Md.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}