@font-face {
	font-family: 'itcstd';
	src: url(../../assets/fonts/ITCAvantGardeStd-Bk.eot) format('embedded-opentype'),
	url(../../assets/fonts/ITCAvantGardeStd-Bk.otf) format('otf'),
	url(../../assets/fonts/ITCAvantGardeStd-Bk.eot) format('embedded-opentype'),
	url(../../assets/fonts/ITCAvantGardeStd-Bk.ttf) format('truetype'),
	url(../../assets/fonts/ITCAvantGardeStd-Bk.woff) format('woff'),
	url(../../assets/fonts/ITCAvantGardeStd-Bk.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}